html, body { 
  background: #444;
  padding: 0; 
  margin: 0; 
}
* { 
  font-family: 'Nunito Sans', sans-serif; 
  color: #FFF; 
  box-sizing: border-box; 
}

h1,h5 { 
  text-align: center; 
  padding: 30px; 
  display: block; 
  color: #FFF; 
}

h5 { 
  font-size: 20px; 
  margin: 40px 0 0; 
  padding: 0; 
  clear: both: 
  width: 100%; 
}
#userMessage { 
  padding: 0;
  margin: 0;
  display: block; 
  text-align: center; 
}
#game { 
  display: block; 
  text-align: center; 
}

#game p {
  font-size: 30px;
}

#game ul,
#score ul { 
  list-style: none; 
  display: block; 
  clear: both; 
  width: 100%; 
  padding: 10px 0 20px; 
  margin: 0; 
}

#game li { 
  display: inline-block; 
  text-align: center; 
  border: 1px solid #FFF; 
  padding: 19px 0px 19px; 
  width: 80px; 
  height: 80px; 
  border-radius: 3px; 
  text-transform: uppercase;
  font-size: 30px; margin: 0 5px 0;
}

#game .answer { 
  border: 2px solid #90ee90; 
  color: #90ee90; 
  font-weight: bold; 
}

#game .space { 
  border: none;
  height: 1px;
  margin: 0;
  width: 100%;
  clear: both;
  padding: 0;
}

#userGuesses {
  width: 100%;
  display: none;
}

#userGuesses ul {
  clear: both;
  margin: 10px auto 50px; 
  display: block; 
  text-align: center; 
  width: 100%; 
  padding: 0px;
  list-style: none;
}

#userGuesses li { 
  padding: 0;
  display: inline;
  list-style: none;
  color: #FFF;
  padding: 10px;
  border-bottom: 2px solid #FFF;
  font-size: 20px;
  margin: 0 4px 0;
}

.startNew { 
  display: inline-block; 
  padding: 10px 20px;
  border: 1px solid #E1E1E1;
  border-radius: 4px;
}

.endMessage { 
  display: flex;
  position: absolute; 
  text-align: center;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
  vertical-align: middle; 
  align-items: center;
  justify-content: center;
}
.endMessage h3 { width: 100%; font-size: 50px; }
.endMessage span { font-size: 20px;  }

#activateKeyword {  
  font-size: 40px; 
  position: absolute;
  bottom: 30px; 
  left: 30px;
  display: none;
}

@media only screen and (max-width: 767px) {
  
  #activateKeyword { 
    display: block; 
    text-decoration: none;
    border: 1px solid #FFF;
    border-radius: 5px;
    padding: 20px;
    color: #FFF;
    opacity: 0.7;
  }
  #activateKeyword:hover {
    opacity: 1;
  }

  #hiddenInput { 
    margin: 0 auto;  
    width: 100px; 
    display: inline-block;
    font-size: 36px;  }
  #game, h1, #userGuesses  { 
    width: 700px; 
    margin: 0 auto; }
  #game li { 
    padding: 13px 0px 13px; 
    width: 50px; 
    height: 50px; 
    font-size: 18px;
  }
  h1 { font-size: 20px; }
  H5 { font-size: 17px; }
  #game p {
    font-size: 15px;
  }
  .endMessage { display: inline-block; padding-top: 50px; }
  .endMessage h3 { width: 100%; font-size: 20px; }
  .endMessage span { font-size: 15px;  }

} 